body {
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #f5f7fa;
    margin: 0;
}

.sidebar {
    width: 220px;
    background-color: #fff;
    padding: 20px;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar ul li a.active {
    background-color: #007bff;
    color: white;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.actions {
    display: flex;
    gap: 10px;
}

.add-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.select {
    padding: 8px 10px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f9fafb;
    color: #667085;
}

.status {
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;
}

.completed {
    color: green;
}

.pending {
    color: red;
}

.edit, .delete {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
}

.edit:hover {
    color: #007bff;
}

.delete:hover {
    color: red;
}

.pagination {
    margin-top: 15px;
    text-align: center;
}

.pagination button {
    background-color: white;
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
}

.pagination button.switch{
    background-color: #007bff;
    color: white;
}

.pagination button:hover {
    background-color: #ddd;
}
